  <style>
html, body{margin:0;padding:0; width:100%;}
      </style>
<hr>
<center><img src="https://images.ua.prom.st/740722714_w640_h2048_snimok_ekrana___25_v_20.09.jpg?PIMAGE_ID=740722714"></center><hr>
<p class="lead"><i>Деякі відвідувачі нашого магазину, вперше побачивши 
електроскутери типу CityCoco і дізнавшись їх ціну, відразу обурюються: 
«Навіщо мені платити 800$ і більше, коли бензиновий б/в скутер з 
двигуном 50 кубиків коштує від 300$?». Ми намагаємося пояснити нашим 
клієнтам, що купуючи будь-який бензиновий скутер і користуючись ним 
кілька років, вони значно переплатять.</p>
<h2>1) Економія на паливі</h2>
<hr>
<p><i>Мінімальну витрату 2 літрів палива на 100 км можна отримати тільки на
 нових брендових скутерах типу Honda Dio в режимі їзди без розгонів і 
гальмувань на швидкості 30 км/год. Витрата по місту буде мінімум 3 
літри, якщо їздити спокійно і мотор в хорошому стані. З огляду на їзду в
 холодну пору доби, поїздки на короткі дистанції, поїздки з другим 
пасажиром, витрата зростає до 4 л на 100 км. Разом, кожні 100 км шляху 
будуть обходитися мінімум в 4$.</p>
<p>Якщо середній пробіг становить 15 км на день, то за рік це буде 
близько 5500 км, а за 3 роки - 16500 км. Це умовний розрахунок, в якому 
ми не враховуємо зимовий період. При такому пробігу тільки на паливо ви 
витратите 660$. Вам дуже пощастить, якщо не доведеться ремонтувати 
двигун, не кажучи про інші поломки.</p>
<p>У випадку з електроскутером витрати не електрику просто мізерні, на 
одну зарядку 20 А/Год акумулятора витрачається всього 1,5 кВт 
електроенергії. Навіть при найвищому тарифі елеткроенергії і при 
максимально швидкій, агресивній їзді ви витрачатимете близько 0,25$ на 
100 км. Це 41$ за 3 роки при пробігу 16500 км. Реально ж, при спокійній 
їзді і звичайному домашньому тарифі електроенергії за цей період витрати
 будуть 15-20$.</p>
<p><b>Економія на паливі складе приблизно 600$.</b></p>
<h2>2) Економія на запчастинах</h2>
<hr>
<p>У електроскутера практично немає елементів, що труться, навіть у 
самому моторі. При стандартних умовах експлуатації зношуються тільки 
гальмівні колодки, диски і підшипники.</p>
<p>Навіть не рахуючи витрати на обслуговування і заміну запчастин, 
враховуючи вартість бензинового б/в скутера біля 300$, ви могли б за 
зекономлені гроші купити НОВИЙ електроскутер замість б/в бензинового 
мопеда. Якщо ж пробіг у два рази більше, то за три роки ви витратите на 
бензин і обслуговування більше грошей, ніж коштує найпотужніший і 
наворочений електроскутер, наприклад, CityCoco Harley.</p>
<p>Наші клієнти часто говорять: «В електроскутері потрібно міняти акумулятор». Так, звичайно потрібно. Але:</p>
<p>1) Найдешевша батарея на 60В 12 Ah забезпечує мінімум 25000 км 
пробігу. Це в умовах агресивної їзди зі швидкими прискореннями, з одним 
або навіть двома пасажирами та іншими додатковими навантаженнями. При 
щадній експлуатації пробіг становитиме 50-70 тис км. Для більш ємних 
батарей, наприклад 20 а.год, яка коштує трохи дорожче, пробіг зростає 
пропорційно ємності.</p>
<p>2) 12 Ah батарея коштує не дорожче нового двигуна на бензиновий 
скутер. Звичайно ж, набагато простіше поміняти батарею на 
електроскутері, ніж робити капіталку або міняти двигун на бензиновому 
мопеді. Тим більше, що є варіант здешевити заміну батареї, самостійно 
замінивши в ній елементи, типу 18650.</p>
<p>3) Бензиновий двигун легко може бути перегрітий і зіпсований від 
високих обертів, їзди в натяг та інших чинників, які не страшні 
електродвигуну.</p>
