<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Чому обирають саме нас ?</title>
      <style>
html, body{margin:0;padding:0; width:100%;}
      </style>
 </head>
 <body>
 <br>
 <div class="onn">Безкоштовний тест-драйв !</div>
 <hr>
  <p><img src="https://images-na.ssl-images-amazon.com/images/I/51F9IPvmOKL.jpg" alt="" width="400" height="400" class="leftimg"></p>
 <i>    
<h2>Ми пропонуємо нашим клієнтам безкоштовний тест-драйв для того , щоб вони змогли переконатися в якості наших Seev Citycoco !</h2>
<h2>Технічні характеристики Seev Citycoco:</h2>
<li>Загальна вага - 55 кг</li>
<li>Максимальна швидкість - до 50 км/год</li>
<li>Запас ходу - до 80 км</li>
<li>Мотор - 1000W (50H)</li>
<li>Тормоза - дискові(гідравлічні)</li>
<li>Акумулятор LiIon - 12aH/60V</li>
<li>Ємність - 12aH</li>
<li>Напруга - 60V</li>
<li>Передні/задні амортизатори</li>
<li>Цифровий спідометр</li>
<h2>Запис на тест-драйв по тел. +38(066)406-12-79</h2>
<br><br><br><br><br><br><br><br>
 </body>
</html>